Package: kmod-ath9k-common
Version: 3.10.49+2014-05-22-1
Depends: kernel (=3.10.49-1-a12db3f7d7a1c014986c833de227a672), kmod-ath
Source: package/kernel/mac80211
Section: kernel
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: ar71xx
Installed-Size: 117013
Description:  Atheros 802.11n wireless devices (common code for ath9k and ath9k_htc)
